<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Stock Info</title>
</head>
<body>
<div style="position: absolute; left: 20px; top: 0px;">

	<span th:text="${name0}"></span><br/>
	<img th:src="${mainurl}"/>
</div>

<div style="position: absolute; left: 1000px; top: 0px;">
	<span th:text="${data10}"></span><br/>
	<span th:text="${data20}"></span><br/>
	<span th:text="${data30}"></span><br/>
	<span th:text="${data40}"></span><br/>
	<span th:text="${data50}"></span><br/>
	<span th:text="${data60}"></span><br/>
	<span th:text="${data70}"></span><br/>
	<span th:text="${data80}"></span><br/>
	<span th:text="${data90}"></span><br/>
	<span th:text="${data100}"></span><br/>
	<span th:text="${data110}"></span><br/>
</div>

<div style="position: absolute; left: 20px; top: 350px;">
	<span th:text="${name1}"></span><br/>
	<img th:src="${url1}"/>
</div>

<div style="position: absolute; left: 1000px; top: 350px;">
	<span th:text="${data11}"></span><br/>
	<span th:text="${data21}"></span><br/>
	<span th:text="${data31}"></span><br/>
	<span th:text="${data41}"></span><br/>
	<span th:text="${data51}"></span><br/>
	<span th:text="${data61}"></span><br/>
	<span th:text="${data71}"></span><br/>
	<span th:text="${data81}"></span><br/>
	<span th:text="${data91}"></span><br/>
	<span th:text="${data101}"></span><br/>
	<span th:text="${data111}"></span><br/>
</div>
<div style="position: absolute; left: 20px; top: 700px;">
	<span th:text="${name2}"></span><br/>
	<img th:src="${url2}"/>
</div>

<div style="position: absolute; left: 1000px; top: 700px;">
	<span th:text="${data12}"></span><br/>
	<span th:text="${data22}"></span><br/>
	<span th:text="${data32}"></span><br/>
	<span th:text="${data42}"></span><br/>
	<span th:text="${data52}"></span><br/>
	<span th:text="${data62}"></span><br/>
	<span th:text="${data72}"></span><br/>
	<span th:text="${data82}"></span><br/>
	<span th:text="${data92}"></span><br/>
	<span th:text="${data102}"></span><br/>
	<span th:text="${data112}"></span><br/>
</div>

<div style="position: absolute; left: 20px; top: 1050px;">
	<span th:text="${name3}"></span><br/>
	<img th:src="${url3}"/>
</div>

<div style="position: absolute; left: 1000px; top: 1050px;">
	<span th:text="${data13}"></span><br/>
	<span th:text="${data23}"></span><br/>
	<span th:text="${data33}"></span><br/>
	<span th:text="${data43}"></span><br/>
	<span th:text="${data53}"></span><br/>
	<span th:text="${data63}"></span><br/>
	<span th:text="${data73}"></span><br/>
	<span th:text="${data83}"></span><br/>
	<span th:text="${data93}"></span><br/>
	<span th:text="${data103}"></span><br/>
	<span th:text="${data113}"></span><br/>
</div>
</body>
</html>